{% extends "base.html" %} 
{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}
{% block ogtitle %}{{ config.title }} - {{ section.title }}{% endblock ogtitle %}
{% block description %}{{ section.title }}{% endblock description %}
{% block ogdesc %}{{ section.title }}{% endblock ogdesc %}
{% block ogurl %}{{ config.base_url }}{{ section.path }}{% endblock ogurl %}
{% block main %} 
<div class="main-box-block">
{% set all_blog_pages = get_section(path="blog/_index.md") %}

{% for year, posts in all_blog_pages.pages | group_by(attribute="year") %}
<h2>{{ year }}</h2>

<ul class="list-none">
  {% for post in posts %}
  <li>{{ macro::post_min(page=post) }}</li>
  {% endfor %}
</ul>
<hr>
{% endfor %} 
</div>
{% endblock main %}
