{% extends "base.html" %} 
{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}
{% block ogtitle %}{{ config.title }} - {{ section.title }}{% endblock ogtitle %}
{% block description %}{{ section.title }}{% endblock description %}
{% block ogdesc %}{{ section.title }}{% endblock ogdesc %}
{% block ogurl %}{{ config.base_url }}{{ section.path }}{% endblock ogurl %}
{% block main %} 
{% set_global blog_section = get_section(path="blog/_index"~file_lang_path~".md") -%}
{% set_global section_content = blog_section.content %}
<div class="element">
<h1>Blog</h1>
<br>
{% set all_blog_pages = get_section(path="blog/_index"~file_lang_path~".md") %}
<br>
<ul class="list-none">
  {% for post in all_blog_pages.pages | sort(attribute="updated") | reverse %}
  <li>{{ macro::post_min(page=post) }}</li>
  {% endfor %}
</ul>
</div>
{% endblock main %}
<summary style="text-decoration:line-through "></summary>