{% extends "base.html" -%}
{% block post_meta-%}
<meta name="title" content="{{ page.title }}">
<style>
  .sidebar{
    display: block;
  }
  @media (min-width: 52rem) {
    .sidebar{
      display: block;
    }
  }
</style>
{% endblock post_meta -%}
{% block title %}{{ page.title }} - {{ config.title}}{% endblock title %}
{% block ogtitle %}{{ page.title }} - {{ config.title}}{% endblock ogtitle %}
{% block ogdesc %}{% if page.description %} {{ page.description }} {% elif page.summary%} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock ogdesc %}
{% block description %}{% if page.description %} {{ page.description }} {% elif page.summary%} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock description %}
{% block ogurl %}{% if page.path %}{{ config.base_url }}{{ page.path }} {% endif %}{% endblock ogurl %}
{% block ogimg %}{% if page.extra.image %}{{ page.extra.image }}{% endif %}{% endblock ogimg %}
{% block main %}
<div class="element">
      {% block detail_meta -%}
      <header id="overview">
        <div class="pt">
          <span>&gt;&gt;</span>
          <a href="{{ get_url(path="@/_index.md") }}">{{trans(key="label_home")}}</a>
          {% if page.taxonomies %}
          <span class="divider">/</span>
          <a class="category" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0]) }}">{{
            page.taxonomies.categories[0] }}</a>
          
          {% if page.taxonomies.tags -%}
          <span class="divider">/</span>
          {% for tag in page.taxonomies.tags %}
          <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}{% if
          loop.index != page.taxonomies.tags | length %},{% endif %}{% endif %}
          {% endfor %}
          {% endif %}
          {% endif %}
        </div>
        
        <div>
          <h1>{{ page.title }}</h1>
          <div class="muted">
            <span>{% block detail_meta_slot %}{% endblock detail_meta_slot %}</span><span>{% if page.date %}{{ trans(key="label_created")}} {{ page.date }}{% endif %}{% if page.updated %} | {{trans(key="label_updated")}} {{ page.updated }} {% endif %}</span>
          </div>
        </div>

      </header>
      {% endblock detail_meta -%}
      <section data-pagefind-body>
      
        <section class="main">
          <section id="start"></section>
          <article>
            {{ page.content | safe }}
          </article>
        </section>
        
       
      </section>
</div>
{% endblock main%}

{% block sidebar %}
{% endblock sidebar %}