{% extends "base.html" -%}
{% block post_meta-%}
<meta name="title" content="{{ page.title }}">
<style>
  .sidebar{
    display: block;
  }
  @media (min-width: 52rem) {
    .sidebar{
      display: block;
    }
  }
</style>
{% endblock post_meta -%}
{% block title %}{{ page.title }} - {{ config.title}}{% endblock title %}
{% block ogtitle %}{{ page.title }} - {{ config.title}}{% endblock ogtitle %}
{% block ogdesc %}{% if page.description %} {{ page.description }} {% elif page.summary %} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock ogdesc %}
{% block description %}{% if page.description %} {{ page.description }} {% elif page.summary %} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock description %}
{% block ogurl %}{% if page.path %}{{ config.base_url }}{{ page.path }} {% endif %}{% endblock ogurl %}
{% block ogimg %}{% if page.extra.image %}{{ page.extra.image }}{% endif %}{% endblock ogimg %}

{% block main %}
{% set_global glossary_section = get_section(path="glossary/_index.md") -%}
{% set_global section_content = glossary_section.content %}
<div class="element">
  <setion class="muted text-sm">
    {{ section_content | safe}}
  </setion>
</div> 
<div class="element">
      {% block detail_meta -%}
      <header id="overview">
        {% block breadcrumbs -%}
        <div class="pt">
          <span>&gt;&gt;</span>
          <a class="category" href="/glossary/">Glossary</a>
        </div>
        {% endblock breadcrumbs %}
        <div>
          <h1>{{ page.title }}</h1>
        </div>
      </header>
      {% endblock detail_meta -%}
      <section data-pagefind-body>
        <section class="main">
          <section id="start"></section>
            {% if page.extra.alias %}
            <section id="alias" class="muted">
              <span>別名：</span>
                {% for alias in page.extra.alias %}
                <span>{{ alias }}</span>
                {% if page.extra.alias | length > 1 %}
                {% if loop.index != page.extra.alias | length %}、{% endif %}{% endif %}
              {% endfor %}
              <br>
              <br>
              <hr>
            </section>
            {% endif %}
          <article>
            {{ page.content | safe }}
             <br>
             <div class="muted" style="text-align: right;">
             <div>
              <span>Created:&nbsp;<time pubdate>{{ page.date | date(format="%Y-%m-%d") }}</time></span>
             </div>
             {% if page.updated %}
             <br>
             <div>
              <span>{{trans(key="label_updated")}}&nbsp;<time pubdate>{{ page.updated | date(format="%Y-%m-%d") }}</time></span>
             </div>
             {% endif %}
          </article>
        </section>
      </section>
          <section id="backlinks">
            {{ macro::backlink(pages=page.backlinks) }}
          </section>
          <section id="contact">
          <br>
          {% if config.extra.edit_url_prefix %}
          <div id="email-comment" class="muted text-sm">
            <hr class="w-full">
            <p>
              如果你對於這個詞彙的定義有更好的版本，歡迎<a class="muted" href="{{ config.extra.edit_url_prefix~page.relative_path }}">透過 Github 連結提交 commit 共同編輯</a>，或者<a class="muted" href="mailto:pj@pinchlime.com?subject={{"回覆："~page.title | urlencode }}">來信</a>到：<code>pj@pinchlime.com</code> 跟我分享！
            </p>
          </div>
          {% endif %}
          </section>
</div>
{% endblock main%}

{% block sidebar %}
{% endblock sidebar %}