{% extends "base.html" -%} 
{% block main -%}
<div class="element-container">
  <div class="element">
    <section>
    {{ section.content | safe }}
    </section>
    <hr class="w-full">
    <h3>也歡迎你留言</h3>
    <br>
    <div id="cusdis_thread"
    data-host="https://comments.pinchlime.com"
    data-app-id="d39e9f8e-53f2-48bc-a699-980cc0a4b00c"
    data-page-id="{{ config.base_url }}"
    data-page-url="{{ config.base_url }}"
    data-page-title="{{ config.title }}"
    data-theme="light"
  ></div>
  <script async defer src="https://comments.pinchlime.com/js/cusdis.es.js"></script>
  </div>
</div>
{% endblock main -%}  
{% block sidebar %}
  <aside class="sidebar">
  <div class="sidebar-element">
      {% set custom_sidebar = get_section(path="sidebar/_index.md") %} 
      {{ custom_sidebar.content | safe }}
  </div>          
  </aside>
{% endblock sidebar %}
// sidebar 這段在 index (首頁)、section.html （blog頁）、newsletters.html （電子報首頁）、snapshots.html（snapshots首頁）都有，若要改動記得要一次改全部。