{% extends "base.html" -%} 
{% block main -%}
<div class="element-container">
  <div class="element">
    <section>
    {{ section.content | safe }}
    </section>
    <hr class="w-full">
    <h3>也歡迎你留言</h3>
    <br>
    <div id="cusdis_thread"
    data-host="https://comments.pinchlime.com"
    data-app-id="d39e9f8e-53f2-48bc-a699-980cc0a4b00c"
    data-page-id="{{ config.base_url }}"
    data-page-url="{{ config.base_url }}"
    data-page-title="{{ config.title }}"
    data-theme="light"
  ></div>
  <script async defer src="https://comments.pinchlime.com/js/cusdis.es.js"></script>
  </div>
</div>
{% endblock main -%}  
{% block sidebar %}
  <aside class="sidebar">
  <div class="sidebar-element">
    <h2>{{trans(key="label_new_posts_list_title") | markdown(inline=true) | safe}}</h2>
    <ul>
      {% set all_blog_pages = get_section(path="blog/_index.md") -%}
            {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
            <li class="no-underline">
            {{ macro::post_side(page=page) }}
            </li>
            {% endfor %} 
            <li class="no-underline">
            {{trans(key="label_all_posts") | markdown(inline=true) | safe}}
            </li>
    </ul>
  </div>
  <div class="sidebar-element">
    <h2>{{trans(key="label_new_newsletters_list_title") | markdown(inline=true) | safe}}</h2>
    <ul>
        {% set all_blog_pages = get_section(path="newsletters/_index.md") -%}
          {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
          <li class="no-underline">
          {{ macro::newsletters_side(page=page) }}
          </li>
          {% endfor %} 
          <li class="no-underline">
          {{trans(key="label_all_newsletters") | markdown(inline=true) | safe}}
          </li>
    </ul>
  </div>
  <div class="sidebar-element">
    <h2>{{trans(key="label_new_snapshots_list_title") | markdown(inline=true) | safe}}</h2>
    <ul>
        {% set all_blog_pages = get_section(path="snapshots/_index.md") -%}
          {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
          <li class="no-underline">
          {{ macro::snapshots_side(page=page) }}
          </li>
          {% endfor %} 
          <li class="no-underline">
          {{trans(key="label_all_snapshots") | markdown(inline=true) | safe}}
          </li>
    </ul>
  </div>
  <div class="sidebar-element">
    <h2>{{trans(key="label_sorting_articles") | markdown(inline=true) | safe}}</h2>
    <ul>
        <li class="no-underline">
          <a href="/tag-list/">{{ trans(key="label_tags") }}</a>
        </li>
        <li class="no-underline">
          <a href="/archive/">{{ trans(key="label_archive") }}</a>
        </li>
        <li class="no-underline">
          <a href="/newsletters/archive/">{{ trans(key="label_newsletter_archive") }}</a>
        </li>
        <li class="no-underline">
          <a href="/snapshots/archive/">{{ trans(key="label_snapshot_archive") }}</a>
        </li>
    </ul>
  </div>
  <div class="sidebar-element">
      {% set custom_sidebar = get_section(path="sidebar/_index.md") %} 
      {{ custom_sidebar.content | safe }}
  </div>          
  </aside>
{% endblock sidebar %}
// sidebar 這段在 index (首頁)、section.html （blog頁）、newsletters.html （電子報首頁）、snapshots.html（snapshots首頁）都有，若要改動記得要一次改全部。