{% extends "base.html" -%} 
{% block main -%}

      <section >
        <a href="/">
          <img loding="lazy" src="logo.png"alt="The logo of Pinchlime"width="180"height="180"style="display:block; margin:auto;">
        </a>
      </section>
      {{ section.content | safe }}
      <hr class="w-full">
      <section class="articles">
      {% set all_blog_pages = get_section(path="blog/_index"~file_lang_path~".md") -%}
      {% for page in all_blog_pages.pages | slice(start=0,end=10)  %} 
        {{ macro::post_max(page=page) }}   
      {% endfor %} 

      <div class="flex-more">
        <h3><a href="/blog/page/2">看更多文章</a></h3>
      </div>
      </section>
{% endblock main -%}  