{% extends "page.html" -%}
{% block breadcrumbs -%}
{{ macro::page_breadcrumbs(page=page) }}
{% endblock breadcrumbs %}
{% block nav_bar %}
<nav class="navbar-top">
  <div class="nav-container">
  <div>
    <a class="navbar-a" style="color: #ffffff" href="{{ config.base_url }}" >
      <img src="https://pinchlime-screenshots.s3.ap-northeast-1.amazonaws.com/pinchlime-logo-02-no-sub-96x96_Bgz9Ey.webp" width = "48" height = "48" alt="Logo of Pinchlime" >
      <span class="navbar-name">Pin 起來</span>
    </a> 
  </div>
  <div class="mobile-menu-icon">
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div class="navbar-name">
    <a class="menu-button" href="/library">Library</a>
    <a class="menu-button-search" href="/search/">
      <img src="https://pinchlime-screenshots.s3.ap-northeast-1.amazonaws.com/search-icon_IsXZSS.svg" alt="search-icon" >
    </a>
  </div>
  <div class="mobile-menu">
    <a class="menu-button" href="/library">Library</a>
    <a class="menu-button" href="/search/">Search</a>
  </div>
  </div>
</nav>
{% endblock nav_bar %}
{% block comments %}{% endblock comments %}
{% block outro %}{% endblock outro %}
{% block sidebar %}
{% set_global library_sidebar_section = get_section(path="library/_index.md") %}
<aside class="sidebar" id="library-sidebar">
  <body>
    <div class="sidebar-element">
      <h2><a href="/library">Pin 起來的收集箱</a></h2>
      {{ macro::render_sidebar(section=library_sidebar_section) }}
    </div>
  </body>
</aside>
{% endblock sidebar %}
{% block custom_script %}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        function setNavState(id, state) {
          localStorage.setItem(id, state);
        }

        function getNavState(id) {
          return localStorage.getItem(id);
        }

        function loadContent(url, targetElement) {
          fetch(url)
            .then((response) => response.text())
            .then((html) => {
              const parser = new DOMParser();
              const parsedDocument = parser.parseFromString(html, "text/html");
              const mainContent = parsedDocument.querySelector("#main");

              // 更新頁籤的標題
              const title = parsedDocument.querySelector('title').innerText;
              document.title = title;
              
              if (mainContent) {
                targetElement.innerHTML = mainContent.innerHTML;
              } else {
                console.error("Main content not found in the fetched page.");
              }
            })
            .catch((error) => {
              console.warn(error);
            });
        }

        const navToggles = document.querySelectorAll(".nav-toggle");
        const navLinks = document.querySelectorAll(".nav-level-1 a, .nav-level-2 a, .nav-level-3 a");

        // 初始化側邊欄導航的狀態
        navToggles.forEach((toggle, index) => {
          const subMenu = toggle.nextElementSibling;
          const navState = getNavState("nav_" + index);
          const arrow = toggle.querySelector('.arrow');

          if (navState === "expanded") {
            subMenu.classList.remove("nav-hidden");
            arrow.classList.remove("right");
            arrow.classList.add("down");
          } else {
            subMenu.classList.add("nav-hidden");
            arrow.classList.remove("down");
            arrow.classList.add("right");
          }

          // 監聽點擊事件
          toggle.addEventListener("click", function (event) {
            const parent = toggle.parentNode;

            if (subMenu.classList.contains("nav-hidden")) {
              subMenu.classList.remove("nav-hidden");
              arrow.classList.remove("right");
              arrow.classList.add("down");
              parent.classList.add("active");
              setNavState("nav_" + index, "expanded");
            } else {
              subMenu.classList.add("nav-hidden");
              arrow.classList.remove("down");
              arrow.classList.add("right");
              parent.classList.remove("active");
              setNavState("nav_" + index, "collapsed");
            }
          });
        });

        // 監聽連結點擊
        navLinks.forEach((link) => {
          link.addEventListener("click", function (event) {
            event.preventDefault();

            const url = link.getAttribute("href");
            const targetElement = document.querySelector("#main"); // 更改 #root 為實際內容容器的選擇器

            loadContent(url, targetElement);

            // 更新瀏覽器的 URL 和歷史記錄
            window.history.pushState({ path: url }, "", url);
          });
        });
        window.addEventListener("popstate", function (event) {
          const targetElement = document.querySelector("#main");
          loadContent(window.location.pathname, targetElement);
        });
      });

    </script>
{% endblock custom_script -%}
