{% macro post_max(page) %}
  <article>
  <div class="element">
  <h1><a class="no-underline " href="{{ page.permalink }}">{{ page.title }}</a></h1>
  <section>
    <div class="muted" style="justify-content: space-between;display: flex;">
      <time pubdate>{{ page.date | date(format="%Y-%m-%d") }}</time>
      <span>{{ config.extra.author }}</span>
    </div>
  </section>

  {% if page.summary -%}
  <div>{{ page.summary | safe }}</div>
  <div class="continue-reading-btn">
    <section>
      <a href="{{ page.permalink }}#continue-reading"><span>{{ trans(key="label_read_more") }} </span></a>
    </section>
  </div>
  <br>
  {% elif page.content -%}
  <p>{{ page.content | safe }}</p>
  {% endif -%}
  <div class="muted" style="justify-content: space-between;display: flex;">
  {% if page.taxonomies.tags %}
  <div>
    {% for tag in page.taxonomies.tags %}
    <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags", name=tag) }}">#{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}
    {% if loop.index != page.taxonomies.tags | length %}&nbsp;{% endif %}{% endif %}
  {% endfor %}
  </div>
  {% endif %}
  </div>
</div>
</article>
{% endmacro post_max %}


{% macro post_min(page) %}
<div style="display: flex;justify-content: space-between">
<a class="no-underline li_archive" href="{{ page.permalink }}">{{ page.title }}</a> 
<span class="muted text-sm" style="font-family: menlo;">{{ page.date | date(format="%b %d") }}</span>
</div>
{% endmacro post_min %}

{% macro snapshots_min(page) %}
<div style="display: flex;justify-content: space-between">
<a class="no-underline li_archive" href="{{ page.permalink }}">{{ page.title }}</a> 
<span class="muted text-sm" style="font-family: menlo;">{{ page.date | date(format="%b %d") }}</span>
</div>

{% endmacro snapshots_min %}

{% macro newsletters_min(page) %}
<div style="display: flex; justify-content: space-between;">
  <div style="display: flex;">
    <div class="li_archive_news">
      <span style="margin-right: 1rem; font-family: menlo;">＃{{page.extra.issues }}</span><a class="no-underline" href="{{ page.permalink }}">{{ page.title }}</a>
    </div>
  </div>
  <span class="muted text-sm" style="font-family: menlo; white-space: nowrap;">{{ page.date | date(format="%b %d") }}</span>
</div>

{% endmacro newsletters_min %}

{% macro post_side(page) %}
<a href="{{ page.permalink }}">{{ page.title }}</a><br>
{% endmacro post_side %}

{% macro snapshots_side(page) %}
<a href="{{ page.permalink }}">{{ page.title }}</a><br>
{% endmacro snapshots_side %}

{% macro newsletters_side(page) %}
<span>＃{{page.extra.issues }} </span><a href="{{ page.permalink }}">{{ page.title }}</a><br>
{% endmacro newsletters_side %}

{% macro library_side(page) %}
<li>
<a href="{{ page.permalink }}">{{ page.title }}</a>
</li>
{% endmacro library_side %}

{% macro page_toc(toc)%}
<section class="sidebar-table-content">
  <ul >
    <li><a href="#start">{{trans(key="label_back_to_start")}}</a></li>
  {% for h1 in toc %}
      <li>
          <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
          {% if h1.children %}
              <ul>
                  {% for h2 in h1.children %}
                      <li>
                          <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                      </li>
                  {% endfor %}
              </ul>
          {% endif %}
      </li>
  {% endfor %}
  </ul>
</section>
{% endmacro page_toc %}

{% macro paginator(ref, extra) %}
<div class="element" style="background: none; box-shadow:none;"">
  <ul class="list-none flex justify-between" style="max-width: 50rem;">
    {% if ref.current_index != 1 %}
      <li><a class="no-underline" href="{{ ref.first }}">&larrb;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="{{ ref.first }}">&larrb;</a></li>
    {% endif %}

    {% if ref.previous %}
      <li><a class="no-underline" href="{{ ref.previous }}">&larr;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="#">&larr;</a></li>
    {% endif %}

    <li><a class="no-underline" href="{{get_url(path="@/archive/_index.md")}}">{{ ref.current_index }}/{{ ref.number_pagers }}</a></li>
    
    {% if ref.next %}
      <li><a class="no-underline" href="{{ ref.next }}">&rarr;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="#">&rarr;</a></li>
    {% endif %}

    {% if ref.current_index != ref.number_pagers %}
      <li><a class="no-underline" href="{{ ref.last }}">&rarrb;</a></li>
    {% else %}
      <li class="disabled"><a class="no-underline" href="{{ ref.last }}">&rarrb;</a></li>
    {% endif %}
  </ul>
</div>
{% endmacro paginator %}
{% macro backlink(pages) %}
{% if pages and pages | length >0 %}
  <section class="backlinks ">
    <hr>
    <h3>Links to this page ({{ pages | length }})</h3>
    <ul>
      {% for page in pages %}
        <li>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
{% endmacro backlink %}