{% macro post_min(page) %}
<div>
  <p class="archive-list">
    <a href="{{ page.permalink }}">{{ page.title }}</a> 
</p>
<span class="muted text-sm font-mono">
  {{ page.updated | date(format="%Y.%m.%d") }}</span>
</div>
{% endmacro post_min %}


{% macro backlink(pages) %}
{% if pages and pages | length >0 %}
  <section class="backlinks ">
    <hr>
    <h3>Links to this page ({{ pages | length }})</h3>
    <ul>
      {% for page in pages %}
        <li>
          <a href="{{ page.permalink }}">{{ page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
{% endmacro backlink %}
