{% extends "page.html" %} 
{% block breadcrumbs -%}
  <div class="pt">
    <span>&gt;&gt;</span>
    <a class="category" href="/newsletters/">Newsletters</a>
    {% if page.taxonomies.categories %}
    <span class="divider">/</span>
    <a class="category" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0],lang=lang) }}"> {{ page.taxonomies.categories[0] }}</a>
    {% if page.taxonomies.tags -%}
    <span class="divider">/</span>
    {% for tag in page.taxonomies.tags %}
    <a href="{{ get_taxonomy_url(kind="tags", name=tag,lang=lang) }}">{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},{% endif %}{% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if page.taxonomies.kinds %}
    <span class="divider">/</span>
    <a class="category" href="{{ get_taxonomy_url(kind="kinds", name=page.taxonomies.kinds[0],lang=lang) }}">{{ page.taxonomies.kinds[0] }}</a>    
    {% if page.taxonomies.tags -%}
    <span class="divider">/</span>
    {% for tag in page.taxonomies.tags %}
    <a href="{{ get_taxonomy_url(kind="tags", name=tag,lang=lang) }}">{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},{% endif %}{% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
  </div>
{% endblock breadcrumbs %}
{% block detail_meta_slot -%}
<span># {{page.extra.issues }} &nbsp;</span>
{% endblock detail_meta_slot -%}
{% block newsletter_sidebar_slot %}
<div class="sidebar-element">
<h2>看其他<span style="text-decoration:underline;"><a href="/newsletters/">電子報</a></span></h2>
<ul>
  {% set all_blog_pages = get_section(path="newsletters/_index"~file_lang_path~".md") -%}
  {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
  <li class="no-underline">
    {{ macro::newsletters_side(page=page) }}
  </li>
  {% endfor %} 
</ul>
</div>
{% endblock newsletter_sidebar_slot %}
