{% extends "page.html" %} 
{% block breadcrumbs -%}
  <div class="pt">
    <span>&gt;&gt;</span>
    <a class="category" href="/newsletters/">Newsletters</a>
    {% if page.taxonomies.categories %}
    <span class="divider">/</span>
    <a class="category" href="{{ get_taxonomy_url(kind="categories", name=page.taxonomies.categories[0]) }}"> {{ page.taxonomies.categories[0] }}</a>
    {% if page.taxonomies.tags -%}
    <span class="divider">/</span>
    {% for tag in page.taxonomies.tags %}
    <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},{% endif %}{% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
    {% if page.taxonomies.kinds %}
    <span class="divider">/</span>
    <a class="category" href="{{ get_taxonomy_url(kind="kinds", name=page.taxonomies.kinds[0]) }}">{{ page.taxonomies.kinds[0] }}</a>    
    {% if page.taxonomies.tags -%}
    <span class="divider">/</span>
    {% for tag in page.taxonomies.tags %}
    <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}{% if loop.index != page.taxonomies.tags | length %},{% endif %}{% endif %}
    {% endfor %}
    {% endif %}
    {% endif %}
  </div>
{% endblock breadcrumbs %}
{% block detail_meta_slot -%}
<span># {{page.extra.issues }} &nbsp;</span>
{% endblock detail_meta_slot -%}
{% block note -%}
<br>
<setion>
  <div class="archive-notice">
    <p>
    你正在閱讀的是舊版的 Pin 起來電子報！<br>
    我現在已經轉移到另一個平台寫信，歡迎參考<a href="/newsletters/stop-writing-newsletters">這篇說明</a>以訂閱最新的信。<br>
    </p>
  </div>
</setion>
<hr>
{% endblock note -%}
