{% extends "base.html" -%} 
{% block canonical_url %}
<link rel="canonical" href="{{ config.base_url }}{{ section.path }}" />
{% endblock canonical_url %}
{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}
{% block ogtitle %}{{ config.title }} - {{ section.title }}{% endblock ogtitle %}
{% block description %}{{ section.title }}{% endblock description %}
{% block ogdesc %}{{ section.title }}{% endblock ogdesc %}
{% block ogurl %}{{ config.base_url }}{{ section.path }}{% endblock ogurl %}
{% block main -%}

{% if paginator %}
{% set_global section_pages = paginator.pages %}
{% set_global section_content = section.content %}

{% else %}
{% set_global newsletters_section = get_section(path="newsletters/_index.md") -%}
{% set_global section_pages = newsletters_section.pages | sort(attribute="updated") %}
{% set_global section_pages = section_pages | reverse %}
{% set_global section_content = newsletters_section.content %}
{% endif %}
<div class="element">
    <setion>
      {{ section_content | safe}}
    </setion>
    <section >
      {% for page in section_pages %}
      <article>
        <h1 style="font-size:2rem;"><a class="no-underline" href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <div class="muted">
          <span>第 {{page.extra.issues }} 期</span>
          <span>｜</span>
          <time pubdate>發布於 {{ page.date | date(format="%Y-%m-%d") }}</time> 
        </div>
        <div>{{ page.summary | safe }}</div>
        {% if page.taxonomies.tags %}
        <p>
          {% for tag in page.taxonomies.tags %}
          <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags",lang=lang, name=tag) }}">#{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}
          {% if loop.index != page.taxonomies.tags | length %}&nbsp;{% endif %}{% endif %}
          {% endfor %}
        </p>
        {% endif %}
        <div class="muted">
          <section>
            <a class="text text-color" href="{{ page.permalink }}#continue-reading"><span>{{ trans(key="label_read_more",lang=lang) }} </span></a>
          </section>
         <div>
        <hr>
        <p></p>
      </article>
      {% endfor %} 
      {% if paginator %}
      {{macro::paginator(ref=paginator, extra=config.extra) }}
      {% endif %}
    </section>
</div>
{% endblock main -%}
