{% extends "base.html" -%} 
{% block canonical_url %}
<link rel="canonical" href="{{ config.base_url }}{{ section.path }}" />
{% endblock canonical_url %}
{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}
{% block ogtitle %}{{ config.title }} - {{ section.title }}{% endblock ogtitle %}
{% block description %}{{ section.title }}{% endblock description %}
{% block ogdesc %}{{ section.title }}{% endblock ogdesc %}
{% block ogurl %}{{ config.base_url }}{{ section.path }}{% endblock ogurl %}
{% block nav_bar -%}
<nav class="navbar-snapshots-top">
  <div>
    <a class="navbar-snapshots-a" style="color: #ffffff" href="{{ config.base_url~lang_prefix_path }}" >
      <img src="https://pinchlime-screenshots.s3.ap-northeast-1.amazonaws.com/pinchlime-logo-02-no-sub-96x96_Bgz9Ey.webp" width = "48" height = "48" alt="Logo of Pinchlime" >
      <span class="navbar-snapshots-name">Pin 起來</span>
    </a> 
  </div>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <div class="navbar-snapshots-name">
    <a class="no-underline" href="/blog/">Blog</a>&nbsp;
    <a class="no-underline" href="/newsletters/">Newsletters</a>&nbsp;
    <a class="no-underline" href="/snapshots/">Snapshots</a>&nbsp;
    <a class="no-underline" href="/search/">Search</a>
  </div>
</nav>
{% endblock nav_bar %}
{% block main -%}

{% if paginator %}
{% set_global section_pages = paginator.pages %}
{% set_global section_content = section.content %}

{% else %}
{% set_global newsletters_section = get_section(path="newsletters/_index.md") -%}
{% set_global section_pages = newsletters_section.pages | sort(attribute="updated") %}
{% set_global section_pages = section_pages | reverse %}
{% set_global section_content = newsletters_section.content %}
{% endif %}
<div class="element-container">
  <div class="element">
    <setion>
      {{ section_content | safe}}
    </setion>
  </div> 
    <section >
      {% for page in section_pages %}
    <div class="element">
      <article>
        <h1><a class="no-underline" href="{{ page.permalink }}">{{ page.title }}</a></h1>
        <div class="muted">
          <span>第 {{page.extra.issues }} 期</span>
          <span>｜</span>
          <time pubdate>發布於 {{ page.date | date(format="%Y-%m-%d") }}</time> 
        </div>
        <div>{{ page.summary | safe }}</div>
        {% if page.taxonomies.tags %}
        <p>
          {% for tag in page.taxonomies.tags %}
          <a class="muted text-sm no-underline" href="{{ get_taxonomy_url(kind="tags",lang=lang, name=tag) }}">#{{ tag }}</a>{% if page.taxonomies.tags | length > 1 %}
          {% if loop.index != page.taxonomies.tags | length %}&nbsp;{% endif %}{% endif %}
          {% endfor %}
        </p>
        {% endif %}
        <div class="muted">
          <section>
            <a class="text text-color" href="{{ page.permalink }}#continue-reading"><span>{{ trans(key="label_read_more",lang=lang) }} </span></a>
          </section>
         <div>
      </article>
    </div>
      {% endfor %} 
      {% if paginator %}
      {{macro::paginator(ref=paginator, extra=config.extra) }}
      {% endif %}
    </section>
</div>
{% endblock main -%}
{% block sidebar %}
  <aside class="sidebar px">
    <h2>{{trans(key="label_new_newsletters_list_title",lang=lang) | markdown(inline=true) | safe}}</h2>
    <ul>
        {% set all_blog_pages = get_section(path="newsletters/_index"~file_lang_path~".md") -%}
        <li>
          {% for page in all_blog_pages.pages | slice(start=0,end=10)  %} 
          {{ macro::newsletters_side(page=page) }}
          {% endfor %} 
          {{trans(key="label_all_newsletters",lang=lang) | markdown(inline=true) | safe}}
        </li>
    </ul>
    <h2>{{trans(key="label_new_posts_list_title",lang=lang) | markdown(inline=true) | safe}}</h2>
    <ul>
      {% set all_blog_pages = get_section(path="blog/_index"~file_lang_path~".md") -%}
        <li>
            {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
            {{ macro::post_side(page=page) }}
            {% endfor %} 
            {{trans(key="label_all_posts",lang=lang) | markdown(inline=true) | safe}}
        </li>
    </ul>
    <h2>{{trans(key="label_new_snapshots_list_title",lang=lang) | markdown(inline=true) | safe}}</h2>
    <ul>
        {% set all_blog_pages = get_section(path="snapshots/_index"~file_lang_path~".md") -%}
        <li>
          {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
          {{ macro::snapshots_side(page=page) }}
          {% endfor %} 
          {{trans(key="label_all_snapshots",lang=lang) | markdown(inline=true) | safe}}
        </li>
    </ul>
    <h2>{{trans(key="label_sorting_articles",lang=lang) | markdown(inline=true) | safe}}</h2>
    <ul>
        <li class="no-underline">
          <a href="{{lang_prefix_path}}tag-list/">{{ trans(key="label_tags",lang=lang) }}</a>
        </li>
        <li class="no-underline">
          <a href="{{lang_prefix_path}}archive/">{{ trans(key="label_archive",lang=lang) }}</a>
        </li>
        <li class="no-underline">
          <a href="{{lang_prefix_path}}newsletters/archive/">{{ trans(key="label_newsletter_archive",lang=lang) }}</a>
        </li>
        <li class="no-underline">
          <a href="{{lang_prefix_path}}snapshots/archive/">{{ trans(key="label_snapshot_archive",lang=lang) }}</a>
        </li>
    </ul>
      {% set custom_sidebar = get_section(path="sidebar/_index"~file_lang_path~".md") %} 
      {{ custom_sidebar.content | safe }}          
  </aside>
{% endblock sidebar %}