{% extends "base.html" %} 
{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}
{% block ogtitle %}{{ config.title }} - {{ section.title }}{% endblock ogtitle %}
{% block description %}{{ section.title }}{% endblock description %}
{% block ogdesc %}{{ section.title }}{% endblock ogdesc %}
{% block ogurl %}{{ config.base_url }}{{ section.path }}{% endblock ogurl %}
{% block main %}
{% set photography_section = get_section(path="photography/_index.md") %}
<div class="element-container">
  <div class="element">
    <section>
      {{ photography_section.content | safe }}
    </section>
  </div>

  <div class="element">
    <h1>Photography</h1>
    <br>
    <ul class="list-none">
      {% for post in photography_section.pages | sort(attribute="updated") | reverse %}
        <li>{{ macro::post_min(page=post) }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock main %}
<summary style="text-decoration:line-through "></summary>