{% extends "base.html" -%}
{% block post_meta-%}
<meta name="title" content="{{ page.title }}">
<style>
  .sidebar{
    display: block;
  }
  @media (min-width: 52rem) {
    .sidebar{
      display: block;
    }
  }
</style>
{% endblock post_meta -%}
{% block title %}{{ page.title }} - {{ config.title}}{% endblock title %}
{% block ogtitle %}{{ page.title }} - {{ config.title}}{% endblock ogtitle %}
{% block ogdesc %}{% if page.description %} {{ page.description }} {% elif page.summary%} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock ogdesc %}
{% block description %}{% if page.description %} {{ page.description }} {% elif page.summary%} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock description %}
{% block ogurl %}{% if page.path %}{{ config.base_url }}{{ page.path }} {% endif %}{% endblock ogurl %}
{% block ogimg %}{% if page.extra.image %}{{ page.extra.image }}{% endif %}{% endblock ogimg %}
{% block main %}
<div class="element">
      <section>
      
        <section class="main">
          <section id="start"></section>
          <article>
            {{ page.content | safe }}
          </article>
          <link href="/_pagefind/pagefind-ui.css" rel="stylesheet">
          <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
            <div id ="search"></div>
            <script>
                window.addEventListener('DOMContentLoaded', (event) => {
                    new PagefindUI({ element: "#search" });
                });
            </script>
          <div>
            <p>
                &nbsp;
            </p>
            <p class="muted text-sm">
                目前這個網站是透過 <a href="https://pagefind.app/">Pagefind</a> 進行搜尋，搜尋英文應該沒什麼問題，若要搜尋中文，建議把詞彙拆成最多兩個字一組，再用<code>"</code>符號包圍它。<br>
                例如若要搜尋「專案管理」或「工作流」，可以搜尋<code>"專案 管理"</code>和<code>"工作 流"</code>，可能會有較好的搜尋成效！
            </p>
          </div>
          <hr class="w-full">
        <p class="muted text-sm">
            如果你對於搜尋結果不太滿意，歡迎留言跟我分享，或者來信到<code>pj@pinchlime.com</code> 告訴我你的想法。
        </p>
        </section>
        
       
      </section>
</div>
{% endblock main%}

{% block sidebar %}
  <aside class="sidebar">
    <div class="sidebar-element">
    <h2>{{trans(key="label_new_posts_list_title") | markdown(inline=true) | safe}}</h2>
    <ul>
      {% set all_blog_pages = get_section(path="blog/_index.md") -%}
            {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
            <li class="no-underline">
            {{ macro::post_side(page=page) }}
            </li>
            {% endfor %}
            <li class="no-underline"> 
            {{trans(key="label_all_posts") | markdown(inline=true) | safe}}
            </li>
    </ul>
    </div>
    <div class="sidebar-element">
    <h2>{{trans(key="label_new_newsletters_list_title") | markdown(inline=true) | safe}}</h2>
    <ul>
        {% set all_blog_pages = get_section(path="newsletters/_index.md") -%}
          {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
          <li class="no-underline">
          {{ macro::newsletters_side(page=page) }}
          </li>
          {% endfor %}
          <li class="no-underline"> 
          {{trans(key="label_all_newsletters") | markdown(inline=true) | safe}}
          </li>
    </ul>
    </div>
    <div class="sidebar-element">
    <h2>{{trans(key="label_new_snapshots_list_title") | markdown(inline=true) | safe}}</h2>
    <ul>
        {% set all_blog_pages = get_section(path="snapshots/_index.md") -%}
          {% for page in all_blog_pages.pages | slice(start=0,end=5)  %} 
          <li class="no-underline">
          {{ macro::snapshots_side(page=page) }}
          </li>
          {% endfor %} 
          <li class="no-underline">
          {{trans(key="label_all_snapshots") | markdown(inline=true) | safe}}
          </li>
    </ul>
    </div>
    <div class="sidebar-element">
    <h2>{{trans(key="label_sorting_articles") | markdown(inline=true) | safe}}</h2>
    <ul>
        <li class="no-underline">
          <a href="/tag-list/">{{ trans(key="label_tags") }}</a>
        </li>
        <li class="no-underline">
          <a href="/archive/">{{ trans(key="label_archive") }}</a>
        </li>
        <li class="no-underline">
          <a href="/newsletters/archive/">{{ trans(key="label_newsletter_archive") }}</a>
        </li>
        <li class="no-underline">
          <a href="/snapshots/archive/">{{ trans(key="label_snapshot_archive") }}</a>
        </li>
    </ul>
    </div>
    <div class="sidebar-element">
      {% set custom_sidebar = get_section(path="sidebar/_index.md") %} 
      {{ custom_sidebar.content | safe }} 
    </div>         
  </aside>
{% endblock sidebar %}