{% extends "base.html" %}

{% block canonical_url %}
<link rel="canonical" href="{{ config.base_url }}{{ section.path }}" />
{% endblock canonical_url %}

{% block title %}{{ config.title }} - {{ section.title }}{% endblock title %}
{% block ogtitle %}{{ config.title }} - {{ section.title }}{% endblock ogtitle %}
{% block description %}{{ section.title }}{% endblock description %}
{% block ogdesc %}{{ section.title }}{% endblock ogdesc %}
{% block ogurl %}{{ config.base_url }}{{ section.path }}{% endblock ogurl %}

{% block main %}
{# Determine section pages with pagination support #}
{% if paginator %}
  {% set section_pages = paginator.pages %}
{% else %}
  {% set section_pages = section.pages | sort(attribute="updated") | reverse %}
{% endif %}

{# Determine section type from path #}
{% set section_type = section.path | split(pat="/") | first | capitalize %}
{% if section_type == "" and section.relative_path %}
  {% set section_type = section.relative_path | split(pat="/") | first | capitalize %}
{% endif %}

{# Display section content if section type exists #}
{% if section_type %}
  <div class="element">
    <h1>{{ section_type }}</h1>
    <br>
    <section>
      {{ section.content | safe }}
    </section>
    <br>
    <ul class="list-none">
      {% for post in section_pages %}
        <li>{{ macro::post_min(page=post) }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
{% endblock main %}