{% extends "base.html" -%}
{% block post_meta-%}
<meta name="title" content="{{ page.title }}">
{% endblock post_meta -%}
{% block title %}{{ page.title }} - {{ config.title}}{% endblock title %}
{% block ogtitle %}{{ page.title }} - {{ config.title}}{% endblock ogtitle %}
{% block ogdesc %}{% if page.description %} {{ page.description }} {% elif page.summary %} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock ogdesc %}
{% block description %}{% if page.description %} {{ page.description }} {% elif page.summary %} {{page.summary | spaceless | striptags}}  {% endif %}{% endblock description %}
{% block ogurl %}{% if page.path %}{{ config.base_url }}{{ page.path }} {% endif %}{% endblock ogurl %}
{% block ogimg %}{% if page.extra.image %}{{ page.extra.image }}{% endif %}{% endblock ogimg %}

{% block main %}
<div class="element">
      {% block detail_meta -%}
      <header id="overview">
        <div>
          <h1>{{ page.title }}</h1>
        </div>
      </header>
      {% endblock detail_meta -%}
      <section data-pagefind-body>
        <section class="main">
          <section id="start"></section>
          <article>
            {{ page.content | safe }}
          </article>
        </section>
      </section>
</div>
{% endblock main%}