{% extends "base.html" %} 
{% block title %}{{ config.title }} - All tags{% endblock title %}
{% block ogtitle %}{{ config.title }} - All tags{% endblock ogtitle %}
{% block description %}All tags{% endblock description %}
{% block ogdesc %}All tags{% endblock ogdesc %}
{% block ogurl %}{% if page.path %}{{ config.base_url }}{{ page.path }} {% endif %}{% endblock ogurl %}
{% block nav_bar -%}
<nav class="navbar-top">
  <div>
    <a class="navbar-a" href="{{ config.base_url~lang_prefix_path }}" >
      <img src="https://pinchlime-screenshots.s3.ap-northeast-1.amazonaws.com/pinchlime-logo-no-sub_FzfQ69.webp" width = "48" height = "48" alt="Logo of Pinchlime" >
      <div class="navbar-name">&nbsp;Pin 起來</div>
    </a> 
  </div>
  <span>&nbsp;&nbsp;&nbsp;</span>
  <div class="justify-between">
    <a class="no-underline" href="/blog/">Blog</a>&nbsp;
    <a class="no-underline" href="/newsletters/">Newsletters</a>&nbsp;
    <a class="no-underline" href="/snapshots/">Snapshots</a>&nbsp;
  </div>
</nav>
{% endblock nav_bar %}
{% block main %}

<div class="element">
  <div class="page-header">
    <h1>所有標籤</h1>
    <p>這邊先簡單依照字母排序各個標籤，之後再來嘗試其他的排版與呈現方式。</p>
    <br>
  </div>
  <ul class="list-none">
    {% set tags = get_taxonomy(kind="tags",lang=lang) %} {% for tag in tags.items -%}
    {% set url = get_taxonomy_url(kind="tags",lang=lang, name=tag.name) -%}
    <li>
      <a class="no-underline" href="{{ url }}"
        >{{ tag.name }} ({{ tag.pages | length }})</a
      >
    </li>
    {% endfor %}
  </ul>
  <br>
  <h2 ><a class="no-underline" href="{{lang_prefix_path}}tags/">👉 也可看看根據標籤排序的文章列表</a></h2>
  <br>
</div>

{% endblock main %}
