{% extends "base.html" %}  
{% block title %}{{taxonomy.name}}: {{term.name}} -  {{ config.title }}{% endblock title %}
{% block ogtitle %}{{taxonomy.name}}: {{term.name}} -  {{ config.title }}{% endblock ogtitle %}
{% block description %}All posts in {{term.name}}{% endblock description %}
{% block ogdesc %}All posts in {{term.name}}{% endblock ogdesc %}
{% block ogurl %}{{get_taxonomy_url(kind=taxonomy.name,lang=lang, name=term.name)}}{% endblock ogurl %}
{% block main %}
<div class="element">

  <header id="overview">
    <div class="pt">
      <span>&gt;&gt;</span>
      <a href="{{ get_url(path="@/_index.md",lang=lang) }}">{{trans(key="label_home",lang=lang)}}</a>
      {% if term.name -%}
      <span class="divider"> / </span> {{ term.name }}
      {% endif -%}
      </div>
  </header>
  <section>
    <div class="page-header">
      <h1> {{ term.name }} </h1>
    </div>
    <ul class="root-ul">
      {% for page in term.pages | sort(attribute="date") | reverse %} 
      <li>
        {{ macro::post_min(page=page) }}
      </li>
      {% endfor %} 
    </ul>
  </section>
</div>
{% endblock main %}
