{% extends "base.html" %}  
{% block title %}{{taxonomy.name}}: {{term.name}} -  {{ config.title }}{% endblock title %}
{% block ogtitle %}{{taxonomy.name}}: {{term.name}} -  {{ config.title }}{% endblock ogtitle %}
{% block description %}All posts in {{term.name}}{% endblock description %}
{% block ogdesc %}All posts in {{term.name}}{% endblock ogdesc %}
{% block ogurl %}{{get_taxonomy_url(kind=taxonomy.name, name=term.name)}}{% endblock ogurl %}

{% block main %}
<div class="element">

  <header id="overview">
    <div class="pt">
      <span>&gt;&gt;</span>
      <a href="{{ get_url(path="@/_index.md",lang=lang) }}">{{trans(key="label_home",lang=lang)}}</a>
      {% if term.name -%}
      <span class="divider"> / </span> {{ term.name }}
      {% endif -%}
      </div>
  </header>
  <section>
    <div class="page-header">
      <h1> {{ term.name }} </h1>
    </div>
    {% for year, posts in term.pages | group_by(attribute="year") %}
    <h2>{{ year }}</h2>
    <ul class="root-ul">
      {% for post in posts | sort(attribute="date") | reverse %} 
      <li>
        {{ macro::post_min(page=post) }}
      </li>
      {% endfor %} 
    </ul>
    {% endfor %}
  </section>
</div>
{% endblock main %}
